.logo {
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: center;
    div {
        width: 177px;
        height: 47px;
        background-color: #1a2d3f;
    }
}

.header-wrap {
    margin-left: 10px;
    .collapsed-icon {
        font-size: 24px;
        cursor: pointer;
    }
}